name: CI/CD Pipeline for Personal Finance App on Selectel

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
        matrix:
            # ТЕСТИРОВАНИЕ НА LINUX, WINDOWS, macOS (INTEL и APPLE SILICON)
            include:
                -   os: ubuntu-latest
                    name: Linux
                -   os: windows-latest
                    name: Windows
                -   os: macos-15
                    name: macOS Intel
                -   os: macos-latest
                    name: macOS Apple Silicon
    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Cache Maven packages
      uses: actions/cache@v4
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Build with Maven
      run: mvn -B clean compile --file pom.xml

    - name: Run tests and coverage
      run: mvn -B test jacoco:report --file pom.xml

    - name: Spotless check
      run: mvn spotless:check

    - name: Upload test results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: test-results-${{ matrix.os }}
        path: |
          target/site/jacoco/jacoco.xml
          target/surefire-reports/*.xml
          target/site/jacoco/index.html
        retention-days: 7

  deploy:
      needs: build-and-test
      runs-on: ubuntu-latest
      if: github.ref == 'refs/heads/main' && success()
      steps:
          -   uses: actions/checkout@v4

          -   name: Set up JDK 17
              uses: actions/setup-java@v4
              with:
                  java-version: '17'
                  distribution: 'temurin'

          -   name: Cache Maven packages
              uses: actions/cache@v4
              with:
                  path: ~/.m2
                  key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
                  restore-keys: ${{ runner.os }}-m2

          -   name: Build fat-jar
              run: mvn -B clean package -DskipTests --file pom.xml

          -   name: Copy JAR to Selectel VPS
              uses: appleboy/scp-action@v0.1.4
              with:
                  host: ${{ secrets.SELECTEL_HOST }}
                  username: ${{ secrets.SELECTEL_USER }}
                  key: ${{ secrets.SELECTEL_SSH_KEY }}
                  port: ${{ secrets.SELECTEL_PORT }}
                  source: "target/personal-finance-app-1.0.0.jar"
                  target: "/opt/finance-app"
                  strip_components: 0
                  rm: true
                  debug: true
